//Fichero generado con UI2Sass.java.


//------------------------------------------
// hover
//------------------------------------------
$ui-bg-img-opacity-hover:		40;
$ui-icon-color-hover:		#333333;
$ui-fc-hover:		#333333;
$ui-border-color-hover:		#d1dbe4;
$ui-bg-texture-hover:		flat;
$ui-bg-color-hover:		#d1dbe4;


//------------------------------------------
// highlight
//------------------------------------------
// $ui-bg-img-opacity-highlight:		;
$ui-icon-color-highlight:		#777620;
$ui-fc-highlight:		#777620;
$ui-border-color-highlight:		#dad55e;
$ui-bg-texture-highlight:		flat;
$ui-bg-color-highlight:		#fffa90;


//------------------------------------------
// default
//------------------------------------------
// $ui-bg-img-opacity-default:		;
$ui-icon-color-default:		#ffffff;
$ui-fc-default:		#ffffff;
$ui-border-color-default:		#286179;
$ui-bg-texture-default:		flat;
$ui-bg-color-default:		#286179;
$ui-fw-default:		bold;
$ui-fs-default:		1em;
$ui-ff-default:		'Open Sans', sans-serif;;


//------------------------------------------
// overlay
//------------------------------------------
$ui-opacity-overlay:		30;
$ui-bg-img-opacity-overlay:		0;
$ui-bg-texture-overlay:		flat;
$ui-bg-color-overlay:		#aaaaaa;


//------------------------------------------
// shadow
//------------------------------------------
$ui-corner-radius-shadow:		8px;
$ui-offset-left-shadow:		0px;
$ui-offset-top-shadow:		0px;
$ui-thickness-shadow:		5px;
$ui-opacity-shadow:		30;
$ui-bg-img-opacity-shadow:		0;
$ui-bg-texture-shadow:		flat;
$ui-bg-color-shadow:		#666666;


//------------------------------------------
// name
//------------------------------------------
$ui-folder-name:		custom-theme;


//------------------------------------------
// header
//------------------------------------------
// $ui-bg-img-opacity-header:		;
$ui-icon-color-header:		#000000;
$ui-fc-header:		#000000;
$ui-border-color-header:		#d5d8da;
$ui-bg-texture-header:		flat;
$ui-bg-color-header:		#d5d8da;


//------------------------------------------
// active
//------------------------------------------
// $ui-bg-img-opacity-active:		;
$ui-icon-color-active:		#ffffff;
$ui-fc-active:		#ffffff;
$ui-border-color-active:		#263746;
$ui-bg-texture-active:		flat;
$ui-bg-color-active:		#263746;


//------------------------------------------
// radius
//------------------------------------------
$ui-corner-radius:		3px;


//------------------------------------------
// error
//------------------------------------------
// $ui-bg-img-opacity-error:		;
$ui-icon-color-error:		#cc0000;
$ui-fc-error:		#5f3f3f;
$ui-border-color-error:		#f1a899;
$ui-bg-texture-error:		flat;
$ui-bg-color-error:		#fddfdf;


//------------------------------------------
// content
//------------------------------------------
// $ui-bg-img-opacity-content:		;
$ui-icon-color-content:		#ffffff;
$ui-fc-content:		#333333;
$ui-border-color-content:		#eeeeee;
$ui-bg-texture-content:		flat;
$ui-bg-color-content:		#ffffff;
