#mainLayoutPane {
  background-color: #1f2d40;
}

#mainDiv {
  background-color: #1f2d40;
}

.CodeMirror { 
  text-align: left; 
  height: auto !important;
}

.center {
  text-align: center;
}


.sinBorderGrid.ui-panelgrid>*>tr,
.sinBorderGrid.ui-panelgrid .ui-panelgrid-cell,
.sinBorderGrid.ui-panelgrid>*>tr>td>div {
    border: none;
}



