/PruebasGIT.lifecyclemapping
/archetypesInfo.xml
/gestion-pdt.lifecyclemapping
/gestor-pdt-docs.lifecyclemapping
/gestor-pdt-model-core.lifecyclemapping
/gestor-pdt-model.lifecyclemapping
/gestor-pdt-persistence-core.lifecyclemapping
/gestor-pdt-persistence.lifecyclemapping
/gestor-pdt-service-core.lifecyclemapping
/gestor-pdt-service.lifecyclemapping
/gestor-pdt-util.lifecyclemapping
/gestor-pdt-web-core.lifecyclemapping
/gestor-pdt-web.lifecyclemapping
/workspaceState.ser
/workspacestate.properties
